.Form {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 20px;
}

.Form__fieldset {
  padding: 8px;
  background-color: white;
  border: 1px solid lightgray;
}

.Form__header {
  margin: 8px;
}

.Form__label {
  margin: 4px;
  font-weight: bold;
}

.Form__input {
  margin: 8px;
  padding: 8px;
  background-color: white;
  border: 1px solid lightgray;
}
